/* Master Styles */
body{
   font-family: "Lato", sans-serif;
   margin: 0px;
}

.container {
   display: grid;
   grid-template-columns: 1fr;
}

.nav-wrap {
   background: #242424;
   display: flex;
   justify-content: space-between;
   padding: 38px;
}

/* Nav Styles */
.left-side {
   display: flex;
}

.nav-wrap > .left-side > div {

   text-transform: uppercase;
   margin-right: 20px;
   font-size: 0.9rem;
}

.container >.nav-wrap > .rightside > .brand > div{
   font-size: 0.5rem;

}

.nav-link-wrap {
   height: 22px;
   border-bottom: 2px solid transparent;
   transition: border-bottom .5s;
}

.nav-link-wrap a {
   color: #8D8D8D;
   text-decoration: none;
   transition: color .5s;
}

.nav-link-wrap:hover {
   border-bottom: 2px solid #8D8D8D;
}

.nav-link-wrap a:hover  {
   color: #8D8D8D;
}

/* Port Styles */

.port-items-wrap {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
}

.port-item-wrap {
   position: relative;
}

.port-img-background {
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   height: 350px ; 
   width: 100%;
}

.img-text-wrap {
   position: absolute;
   top: 0;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   height: 100%;
   padding-left: 100px;
   padding-right: 100px;
}

.logo-wrap img{
   width: 50%;
   margin-bottom: 20px;
}

.img-text-wrap .subtitle{
   font-weight: 600;
   transition: .5s;
   color: transparent;

}


.img-text-wrap:hover .subtitle{
   font-weight: 600;
   color: #8D8D8D;
}
.img-darken {
   transition: .5s;
   filter: brightness(15%);
}

.active-nav-link{
   border-bottom: 2px solid #8D8D8D;
}

.active-nav-link a{
   color: #8D8D8D;
}

/* about page*/

.two-column-wrap{
   float: inline-start;
   display: grid;
   grid-template-columns: 1fr 1fr;
}

.profile-img-wrap img{
   background-size: auto;
   background-position: center;
   background-repeat: no-repeat;
   width: 100%;
   height: auto;;
}

.profile-content-wrap{
   padding: 20px;
}

.profile-content-wrap h1 {
   color: #8D8D8D;
}